
body{
  margin: 0!important;
  background-color: #001815;
}

img{
  border: none;
}

#homepage{
  background-image: url("../img/bg1.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  min-height: 100vh;
  margin-left: 0;
  margin-right: 0;
}

.top_nav_left{
  padding: 1rem;
  width: 53%;
  display: flex;
  margin-left: 2%;
}

.fa {
  font-size: 2rem!important;
  margin-bottom: 2rem;
}

.fa_icons{
  display: flex;
  width: 40%;
  justify-content: space-between;
  margin-left: 30%;
  align-self: center;
}

.top_nav_right{
  padding: 1rem;
  width: 45%;
  display: flex;
  justify-content: space-evenly;
}

#homepage h1{
  color: white;
  text-align: center;
  margin-top: -1rem;
}

.square_pad{
  width: 30%;
  background-color: rgba(255,255,255,0.2);
  margin-left: 55%;
  margin-top: 10%;
}

.square_pad_text{
  color: white;
  padding: 3rem;
}

.hp_personal_info{
  width: 50%;
  text-align: center;
}

#project_analysis{
  background-color: #001815;
}

#project_analysis h2{
  margin: 0;
}

.element{
  border-top-style: none;
}

/*
  Project Analysis SECTION -------------------
*/

.pj_analysis{
  display: flex;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.pj_analysis_img{
  width: 60%;
}

.pj_analysis_img img{
  margin-top: 1rem;
}

.pj_analysis_text{
  width: 35%;
  margin-left: 5%;
}

.pj_analysis_text h4{
  margin:2rem 0;
}

.pj_analysis_text2{
  width: 35%;
  margin-right: 5%;
}

.pj_analysis_text2 h4{
  margin:2rem 0;
}

/*
  Who Am I SECTION -------------------
*/
.about_me{
  display: flex;
}

.pic_info{
  width: 40%;
}

.pic_me{
  max-width: 50%;
  margin-left: 5%;
}

.pic_note{
  width: 10%;
  background-color: rgba(255,255,255,0.2);
  text-align: right;
}

.pic_note_text{
  color: white;
  padding: 1rem;
}


.softwares{
  display: flex;
  padding: 2rem;
}

.my_skills{
  width: 50%;
}

.my_skills img{
  max-width: 25px;
}

.my_skills h4{
  margin-bottom: 2rem;
}

.software_list{
  width: 45%;
  margin-left: 5%;
}

.software_pad{
  width: 50%;
  background-color: none;
  border: 2px solid rgba(255,255,255,0.9);
  margin-left: 40%;
  margin-top: 10%;
}

.software_pad h4{
  margin-top: 2rem;
  text-align: center;
  color: #499BDF;
}

.job_title img{
  max-width: 32px;
}

.experience_pad{
  width: 35%;
  margin-left: 10%;
  margin-top: -1.5rem;
  border: 2px solid pink;
}

.int_positions{
  padding: 2rem;
}

.int_positions h4{
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
  color: #499BDF;
}

#who_am_I h2{
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 4rem;
  text-align: right;
  margin-right: 20%;
}

.empty_h2{
  margin-top: -12rem;
}

.empty_h2 h2{
  -webkit-text-stroke: 2px #499BDF;
  -webkit-text-fill-color: transparent;
}

.solid_h2{
  margin-bottom: 2rem;
}

#contact{
  background-color: #499BDF;
  margin: 0;
}

.footer h1{
  font-size: 2rem;
}

.footer{
  padding-top: 1rem;
}

.my_info{
  display: flex;
  justify-content: space-evenly;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 2rem;
}

.contact_place{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}


.contact_place h4{
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
}

.contact_place img{
  max-width: 40px;
  max-height: 40px;
  vertical-align: middle;
}

.copyright p{
  text-align: center;
}
