/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
/*
  INTERACTIVE ELEMENTS -------------------
*/
/* Styling for the navigation button */
/*
  TEXT ELEMENTS -------------------
*/
/*
  IMAGE ELEMENTS -------------------
*/
/*
  combined elements SECTION -------------------
*/
@keyframes "zoom" {
	0%,100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.03);
	}
}
/* Contact Me Section */
&:root {
	--bg: #001815;
	--blue: #499BDF;
	--heading: rgba(255,255,255,0.9);
	--hover: rgba(255,255,255,0.2);
}
body {
	font-family: 'Mulish', sans-serif;
	background-color: var(--bg);
	margin: 0 !important;
}
* {
	box-sizing: border-box;
}
section {
	margin-left: 3%;
	margin-right: 3%;
}
.element {
	padding-bottom: 2rem;
	border-top-width: 0.15rem;
	border-top-style: dotted;
	border-top-color: var(--blue);
}
a {
	text-decoration: none;
	color: white;
}
h1 {
	font-size: 5rem;
	color: var(--heading);
	padding-bottom: 1rem;
	text-align: center;
}
h2 {
	margin-top: 5rem;
	font-size: 2rem;
	color: var(--blue);
}
h3 {
	font-style: italic;
	margin-top: 1rem;
	color: var(--heading);
}
h4 {
	margin-bottom: 0.2rem;
	color: var(--heading);
}
h5 {
	font-style: italic;
	font-size: 1rem;
}
h6 {
	font-style: italic;
	font-size: 1.8rem;
	margin-top: 0.5rem;
}
img {
	border: none;
	max-width: 100%;
}
p {
	font-size: 1rem;
	margin-top: 0;
	text-align: justify;
	color: var(--heading);
}
li {
	margin-bottom: 1rem;
	color: white;
}
nav {
	a {
		&:hover {
			color: var(--hover);
			transition: 0.81s;
		}
		&:focus {
			color: var(--hover);
			transition: 0.81s;
		}
	}
}
input {
	&:hover {
		background-color: #FFFEF4;
	}
	&:focus {
		background-color: #FFFEF4;
	}
}
button {
	&:hover {
		color: var(--blue);
		border-color: var(--blue);
		transition: 0.7s;
	}
	&:focus {
		background-color: #F7ECE7;
	}
	color: var(--heading);
	background-color: transparent;
	padding: 0.5rem;
	text-decoration: none;
	transition-property: background-color;
	transition-duration: 0.5s;
	border-radius: 1em;
	margin-left: 1rem;
	margin-right: 1rem;
	border-width: 2px;
	border-style: solid;
	border-color: var(--heading);
}
input[type=text] {
	width: 100%;
	margin-bottom: 1rem;
	padding: 0.8rem;
	border: 1px solid lightgrey;
	border-radius: 3px;
}
label {
	margin-bottom: 0.5rem;
	display: block;
	color: white;
}
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px dotted grey;
}
.code_block {
	background-color: #272c34;
	border-radius: 4px;
	padding: 1.2rem 2rem;
	padding-bottom: 0;
	margin-top: 2rem;
	color: var(--heading);
	max-height: 20rem;
	overflow: scroll;
}
.main_nav {
	color: white;
	padding: 1rem;
	&:hover {
		color: var(--hover);
		transition: 0.81s;
	}
}
.page_button {
	display: flex;
}
.button-nav {
	&:hover {
		background-color: #FFCAB1;
	}
	&:focus {
		background-color: #FFCAB1;
	}
}
.top {
	display: flex;
	width: 100%;
	position: relative;
	align-items: stretch;
	justify-content: space-evenly;
	margin-bottom: 2rem;
}
.top-nav {
	color: var(--blue);
	background-color: transparent;
	padding: 0.8rem;
	text-decoration: none;
	transition-property: background-color;
	transition-duration: 0.5s;
	border-radius: 2em;
	align-items: stretch;
	border-width: 2px;
	border-style: dashed;
	border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
	&:hover {
		color: var(--hover);
		transition: 0.81s;
	}
}
.phone_menu {
	display: none;
}
.bar1 {
	width: 20px;
	height: 2px;
	background-color: var(--heading);
	margin: 5px 0;
	transition: 0.4s;
}
.bar2 {
	width: 20px;
	height: 2px;
	background-color: var(--heading);
	margin: 5px 0;
	transition: 0.4s;
}
.bar3 {
	width: 20px;
	height: 2px;
	background-color: var(--heading);
	margin: 5px 0;
	transition: 0.4s;
}
.fa_icons {
	display: flex;
	width: 40%;
	justify-content: space-between;
	margin-left: 30%;
	align-self: center;
}
.fa {
	font-size: 2rem !important;
	margin-bottom: 3rem;
	transition: transform .2s;
	&:hover {
		transform: scale(1.4);
	}
}
.intext-link {
	text-decoration: none;
	&:hover {
		color: var(--hover);
		transition: 0.81s;
	}
}
.pj_analysis_p {
	width: 48%;
}
.copyright {
	a {
		text-decoration: underline;
	}
	margin: 0 5%;
	p {
		text-align: center;
	}
}
.intro {
	margin-top: 1rem;
	margin-left: 5%;
	margin-right: 5%;
}
.pdctImg {
	width: 100%;
	height: 100%;
	max-width: 15rem;
	max-height: 15rem;
}
.square_pad_sg {
	width: 30%;
	background-color: var(--hover);
	margin-top: 1rem;
	animation: zoom 3s ease-in-out infinite alternate;
}
.square_pad_text_sg {
	color: white;
	padding: 3rem;
}
.experience_pad_sg {
	width: 35%;
	margin-top: 1rem;
	border: 2px solid pink;
}
.job_title_sg {
	img {
		max-width: 32px;
	}
}
.int_positions_sg {
	padding: 2rem;
	h4 {
		margin-top: 0;
		margin-bottom: 2rem;
		text-align: center;
		color: var(--blue);
	}
}
#contact {
	background-color: var(--blue);
	margin: 0;
}
.footer {
	h1 {
		font-size: 2rem;
	}
	padding-top: 1rem;
}
.my_info {
	display: flex;
	justify-content: space-evenly;
	margin-left: 7%;
	margin-right: 7%;
	margin-bottom: 2rem;
}
.my_info2 {
	display: none;
}
.my_info3 {
	display: none;
}
.contact_place {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	h4 {
		margin-left: 1rem;
		margin-top: 0;
		margin-bottom: 0;
	}
	img {
		max-width: 40px;
		max-height: 40px;
		vertical-align: middle;
	}
}
#citations {
	margin-bottom: 3rem;
}
@media only screen and (max-width:1120px) {
	h1 {
		font-size: 3.8rem;
	}
}
@media only screen and (max-width:935px) {
	.square_pad_sg {
		width: 35%;
	}
}
@media only screen and (max-width:800px) {
	a {
		font-size: 0.875rem;
	}
	h1 {
		font-size: 3rem;
	}
	.top-nav {
		padding: 0.5rem;
	}
	.pdctImg {
		max-width: 10rem;
		max-height: 10rem;
	}
	.square_pad_text_sg {
		padding: 2rem;
	}
	.experience_pad_sg {
		width: 40%;
		margin-left: 8%;
		margin-top: -1.5rem;
		border: 2px solid pink;
	}
}
@media only screen and (max-width:760px) {
	.experience_pad_sg {
		margin-top: -1.2rem;
	}
	.software_list_sg {
		width: 95%;
	}
}
@media only screen and (max-width:660px) {
	h1 {
		font-size: 2.5rem;
	}
	.square_pad_sg {
		width: 50%;
		margin-left: 25%;
	}
}
@media only screen and (max-width:470px) {
	.square_pad_sg {
		width: 60%;
		margin-left: 20%;
	}
	.experience_pad_sg {
		width: 90%;
		margin-left: 5%;
		margin-top: 1rem;
	}
	.int_positions_sg {
		>.software_list_sg {
			width: 72%;
			margin-left: 14%;
		}
	}
}
@media only screen and (max-width:370px) {
	.square_pad_sg {
		width: 80%;
		margin-left: 10%;
	}
}
@media only screen and (max-width:325px) {
	.square_pad_sg {
		width: 70%;
		margin-left: 15%;
	}
}
