.top{
  justify-content: space-between;
}

.top_nav_left{
  padding: 1rem;
  display: flex;
  margin-left: 2%;
}

.top_nav_right{
  padding: 1rem;
  display: flex;
  margin-right: 2%;
  justify-content: flex-end;
}

.element{
  border-top-style: none;
}

/*
  Project Analysis SECTION -------------------
*/
#project_analysis{
  background-color: var(--bg);
}

#project_analysis h2{
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3.8rem;
}

.pj_h2 span{
  -webkit-text-stroke: 2px var(--blue);
  -webkit-text-fill-color: transparent;
}

.pj_analysis{
  display: inline-block!important;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.pj_analysis_img{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}

.pj_img_div{
  width: 48%;
}

.pj_img_div1{
  transition: transform 1s;
  animation: slide1 2s ease-in-out 1 alternate;
}

@keyframes slide1 {
  0% {
    transform: translate(-70%, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 100%;
  }
}

.pj_img_div1:hover{
  transform: scale(1.8) translate(30%, 0);
  transition-delay: 0.7s;
}

.pj_img_div2{
  transition: transform 1s;
  animation: slide2 2s ease-in-out 1 alternate;
}

@keyframes slide2 {
  0% {
    transform: translate(70%, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 100%;
  }
}

.pj_img_div2:hover{
  transform: scale(1.8) translate(-30%, 0);
  transition-delay: 0.7s;
}

.pj_analysis_text{
  width: 100%;
  margin-left: 0;
  margin-top: 4rem;
  animation: moveup 2s ease-in-out 1 alternate;
}

@keyframes moveup {
  0% {
    transform: translate(0, 50%);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 100%;
  }
}

.pj_analysis_text h4{
  margin:2rem 0;
  color: var(--blue);
}

.pj_analysis_text2{
  width: 35%;
  margin-right: 5%;
}

.pj_analysis_text2 h4{
  margin:2rem 0;
}

.pj_analysis_text span{
  -webkit-text-fill-color: var(--blue);
}



/* Responsive Designs */
@media only screen and (max-width:1255px){
  #project_analysis h2{
    font-size: 3.5rem;
  }
}

@media only screen and (max-width:1080px){
  .my_info {
    margin-left: 3%;
    margin-right: 3%;
  }
}

@media only screen and (max-width:990px){

  #project_analysis h2{
    font-size: 3.3rem;
  }
}

@media only screen and (max-width:935px){
  .my_info{
    display: none;
  }

  .my_info2{
    display: contents;
  }

  .my_info_row1>.contact_place{
    width: 50%;
  }

  .my_info_row2>.contact_place{
    width: 50%;
  }

  .contact_place{
    justify-content: flex-start;
  }

  .my_info_row1{
    display: flex;
    justify-content: space-between;
    margin-left: 14%;
    margin-right: 10%;
    margin-bottom: 1rem;
  }

  .my_info_row2{
    display: flex;
    justify-content: space-between;
    margin-left: 14%;
    margin-right: 10%;
  }

}

@media only screen and (max-width:800px){

  #project_analysis h2{
    font-size: 3rem;
  }

  .pj_analysis {
    margin-top: 1.5rem;
  }

  .pj_analysis_text{
    margin-top: 3rem;
  }

  .footer h1{
    font-size: 1.5rem;
  }

  .contact_place h4{
    font-size: 12px;
  }

}

@media only screen and (max-width:760px){

  .top_nav_left{
    padding-left: 0;
  }

  .top_nav_right{
    padding-right: 0;
  }

  #project_analysis h2{
    font-size: 2.7rem;
  }

  .pj_analysis_text h4 {
    font-size: 14px;
  }

}

@media only screen and (max-width:660px){

  .pj_analysis {
    margin-top: 1rem;
  }

  .pj_analysis_img {
    flex-direction: column;
  }

  .pj_img_div {
    width: 100%;
  }

  .pj_img_div2 {
    margin-top: 5%;
  }

  .pj_analysis_text{
    margin-top: 2.5rem;
  }

  .pj_analysis_text h4 {
    margin: 1rem 0;
  }

  .pj_img_div1:hover{
    transform: none;
  }

  .pj_img_div2:hover{
    transform: none;
  }

}

@media only screen and (max-width:540px){

  .top_nav_left{
    padding-left: 1rem;
  }

  .top_nav_right{
    display: none;
  }

  .phone_menu{
    display: inline-block;
    cursor: pointer;
    margin-right: 3%;
    align-self: center;
    padding: 1rem;
  }

/* 原菜单变化 暂时屏蔽 */
/*
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5px, 4px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
  }
*/

  .fa_icons{
    width: 60%;
    margin-left: 20%;
  }

  .contact_place img {
    max-width: 30px;
    max-height: 30px;
    vertical-align: middle;
  }

}

@media only screen and (max-width:500px){

  #project_analysis h2{
    font-size: 2rem;
  }

  .my_info2{
    display: none;
  }

  .my_info3{
    display: contents;
  }

  .my_info3>.contact_place{
    margin-left: 25%;
    width: 50%;
    margin-bottom: 0.5rem;
  }

  .contact_place h4{
    margin-left: 1.5rem;
  }
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: #001815; /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 24px;
  color: white;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 540px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
